.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  /* margin-top: 15%; */
  display: flex;
  justify-content: center;
}

.card-back, .card-front {
  height: 10rem;
  /* border-radius: .5rem; */
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: #168274;
  box-shadow: 0rem 0rem 1rem 1rem  #168274;
}

.card-back {
  background-color: #477470;
  box-shadow: 0rem 0rem 1rem 1rem  #477470;

}

.background {
  background-color: gray;
  height: 100vh;
}